h1{
    border: chocolate 3px solid;
    width: 100px;
    height: auto;
    border-radius: 50%;
    text-align: center;
    margin-right: 10px;
     
}
#a{
    font-size: 60px;
    font-weight: 300;
    color: chocolate;
}
#txt{
    font-size: 40px;
    color: black;
}
span{
    color: chocolate;
    font-size: 40px;
     
}
p{
    padding-top: 1%;
}
  
 